@model aspDatabase.Models.Hotel

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>Отель</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
    </dl>
</div>
@if (!string.IsNullOrEmpty(Model.Img))
{
    <img src="@Model.Img" alt="Изображение" class="img-fluid" />
}
<div>
    @if (!User.IsInRole("admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a>
    }
    |
    <a asp-action="Index">Вернуться к списку</a>
</div>
