@model aspDatabase.Models.Agreement

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Agreement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clientID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clientID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hotelId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hotelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.roomID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.roomID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reservStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reservStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reservEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reservEnd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
