@model IEnumerable<aspDatabase.Models.Room>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Комнаты</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hotel.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdressRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdressRoom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if (!User.IsInRole("admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID">Редактировать</a>
                    }
                    |
                    <a asp-action="Details" asp-route-id="@item.ID">Детали</a> |
                    @if (!User.IsInRole("admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
                    }
                    ||
                    <a asp-controller="BookingRequests" asp-action="Create" asp-route-roomId="@item.ID" asp-route-hotelId="@item.Hotel.Id">Создать заявку на бронь</a>
                </td>
            </tr>
        }
    </tbody>
</table>
